@using Herd.Core;
@using Herd.Business;
@using Herd.Data.Models;

@{
    ViewData["Title"] = "Home Page";
    var activeUser = ViewData["ActiveUser"] as HerdUserDataModel;
    var hasTokenStored = !string.IsNullOrWhiteSpace(activeUser.ApiAccessToken);
    var requestedURL = ViewData["RequestedURL"] as string;
}

<p>
    @TempData["SuccessMessage"]
    @TempData["InfoMessage"]
    @TempData["ErrorMessage"]
</p>

<p>
    User info in Herd DB: <pre>@activeUser.SerializeAsJson()</pre>
</p>
<p>
    Click @Html.ActionLink("here", "OAuthRedirect", "MastodonAuth", null, new { target = "_blank" }) to @(hasTokenStored ? "re-" : "")authenticate to your mastodon instance.
</p>

@if (requestedURL.Contains("localhost"))
{
    using (Html.BeginForm("OAuthReturn", "MastodonAuth", FormMethod.Get))
    {
        <p>
            Because your are running on localhost, <i>real</i> OAuth will not work (mode details <a href="https://github.com/doorkeeper-gem/doorkeeper/wiki/Authorization-Code-Flow">here</a>). The above link will take you to a page on Mastodon where you cn get the API access token code. Copy that code and paste it here:
        </p>
        @Html.TextBox("code", "")
        <input type="submit" value="Submit" />
    }
}
